.dreadful {
    background-color: rgb(163, 0, 0);
}

.bad {
    background-color: rgb(230, 149, 0);
}

.fine {
    background-color: rgb(204, 204, 0);
}

.good {
    background-color: rgb(0, 168, 0);
}

.great {
    background-color: rgb(0, 168, 151)
}

#display {
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 74.65%;
    height: calc(54.25% - 5px);
    background-color: blue;
}

#close {
    position: absolute;
    display: table-cell;
    right: 0;
    top: 0;
    margin-top: 0;
    width: 40px;
    height: 40px;
    font-size: 35px;
    line-height: 40px;
}
#close:hover {
    cursor: pointer;
    color: rgb(15, 15, 15);
}

h2 {
    
    display: block;
    margin: 10px 0 30px;
    text-align: center;
}

p {
    font-size: 21px;
}

#moodSelection {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(80% - 93px);
    justify-content: space-evenly;
    align-items: center;
}

#mood {
    display: flex;
    position: relative;
    margin: 5px;
    width: 130px;
    height: 130px;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
#mood:hover {
    margin: 0;
    cursor: pointer;
    width: 140px;
    height: 140px;
    font-weight: bold;
    font-size: 18px;
}

@media only screen and (max-width: 1089px) {
    #mood {
        width: 100px;
        height: 100px;
    }
}
@media only screen and (max-width: 510px) {
    #display {
        width: 79.65%;
    }
}