:root {
    --r: 0;
    --g: 0;
    --b: 255;
    --darkness: 0.75;
}

.flex-container {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.flex-center {
    margin: auto;
    align-self: center;
    text-align: center;
}

h1 {
    padding-top: 20px;
    height: 50px;
    color: violet;
}

div#top {
    margin: 10px auto 15px;
    height: 28px;
    width: 30%;
}

#top > h2 {
    color: violet;
}

#chevron {
    width: 25px;
}

#chevron:hover {
    color: rgb(255, 205, 255);
    cursor: pointer;
}

.calendar {
    width: 75%;
    height: 65%;
}

.flex-flow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#dayTitles {
    height: 16%;
}

#days {
    margin-top: 5px;
    height: calc(84% - 5px);
}

#dayTitles > div {
    display: table;
    width: 14%;
    height: 100%;
}

#dayTitles > div > h2 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background-color: rgb(var(--r), var(--g), var(--b));
}

#days > div {
    display: table;
    width: 14%;
    height: 16%;
}

#days > div > h2 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background-color: rgb(var(--r), var(--g), var(--b));
}

#days > div > h2.select:hover {
    background-color: rgb(calc(var(--r) * var(--darkness)), calc(var(--g) * var(--darkness)), calc(var(--b) * var(--darkness)));
    cursor: pointer;
}

.today {
    color: rgb(calc(255 * var(--darkness)), calc(87 * var(--darkness)), calc(255 * var(--darkness)));
}

.dreadful {
    --r: 163;
    --g: 0;
    --b: 0;
}

.bad {
    --r: 230;
    --g: 149;
    --b: 0;
}

.fine {
    --r: 204;
    --g: 204;
    --b: 0;
}

.good {
    --r: 0;
    --g: 168;
    --b: 0;
}

.great {
    --r: 0;
    --g: 168;
    --b: 151;
}

@media only screen and (max-width: 910px) {
    div#top {
        width: 50%;
    }
}
@media only screen and (max-width: 510px) {
    div#top {
        width: 90%;
    }
    .calendar {
        width: 80%;
        height: 65%;
    }
}
